.Chat {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}

.Container, .Chat {
    box-sizing: border-box;
}

.Title, .Chat {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .Chat {
    }

    .Container {
        height: 100%;
        width: 77%;
        border: 1px solid black;
        padding: 25px 50px;
    }  
}