.Chat {
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;
}

.Container, .Chat {
    box-sizing: border-box;
}

.Title, .Chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;    
}

@media (max-width: 768px) {
    .Chat {
    background-color: rgba(23, 103, 169, 0.831);
    padding: 25px 15px;    
    }

    .Container {
        background-color: white;
    }

    .Title {
        font-size: 25px
    }

    .Container {
        height: auto;
        width: 77%;
        padding: 15px;
    }  
    
    .ChatControls {
        display: flex;
        justify-content: flex-start;
    }

    .ChatControls input[type="text"] {
        border: 1px solid rgba(100, 100, 100, .5);
        width: 75%;
        transition: all 0.2s ease-in;
    }
    
    .ChatControls input[type="submit"] {
        width: 25%;
        background-color: rgba(31, 138, 226, 0.831);
    }
    
    .ChatControls input {
        padding: 3px 6px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .ChatControls input[type="text"]:focus {
        box-shadow: 0 0 8px 0 rgba(23, 103, 169, 0.831);
        border: none;
    }
    
    .ChatControls input[type="submit"]:hover {
        background-color: rgba(59, 155, 233, 0.831);
    }    
}