.ApartmentFinder {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container, .Results {
    width: 70%;
}

.Search {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
}

.Search:focus {
    box-shadow: 0 0 0 1px rgba(59, 199, 159, 1)
}

.MapContainer {
    height: 425px;
}

.MapLoading {
    height: 100%;
}

.Map {
    height: 100%;
    width: 100%;
}

.Results {
    height: 150px;
    margin: 15px auto 0 auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
    /* background-color: darkmagenta; */
    overflow-y: auto;
    overflow-x: hidden;
}

.Result {
    border-bottom: 1px solid black;
}

.Results::-webkit-scrollbar {
    width: 10px;
}
    
.Results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
    
.Results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@media (min-width: 769px) {
    .ApartmentFinder {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    
    .MapContainer {
        height: 600px;
    }
    
    .Container {
        width: 50%;
    }

    .Results {
        width: 30%;
        height: auto;
        min-height: 250px;
        max-height: 450px;
    }

    .Container, .Results {
        margin: 0; /* reset margin */
        margin-left: 50px;
    }

}

