@media(max-width: 992px) {
    .Home, .Title {
        width: 66%;
        float: left;
    }

    .Title {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .Content {
        position: relative;
        top: 25px;
        float: left;
    }

}

.Content > *  {
    margin: 0 7.5vw;
    margin-bottom: 25px;
}

.Content h4, button, .center {
    display: flex;
    justify-content: center;
}

button {
    width: 33%;
    border-radius: 50px;
    background-color: rgba(0, 150, 255, .75);
    padding: 16px 8px;
    cursor: pointer;
    /* margin: 0 auto;  */
}

button:hover {
    background-color: rgba(0, 157, 133, 0.579);
}

@media(max-width: 768px) {
    .Home {
        width: 768px;
        height: auto;
    }

    h1 {
        font-size: 42px;
        color: rgba(0, 150, 255, .75);
    }

    .Title {
        padding-top: 15px;
        padding-left: 55px;
    }

    .Content {
    }

}