.ArticleList::-webkit-scrollbar {
    width: 0;
}

.ArticleList {
    display: inherit;
    /* width: 93%; */
    flex-direction: inherit;
    justify-content: space-between;
    height: 58vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}

.articles::-webkit-scrollbar {
    width: 0;
}

@media(min-width:1200px) {
    .ArticleList {
        height: 70.25vh;
    }
}