.Form {
    width: 90%;
    margin: 0 auto;
}

.Register div{
    width: 78%;    
}

form {
    width: 100%;
}

input.Submit {
    box-sizing: border-box;
    background-color: rgba(23, 103, 169, 0.831);
    color: white;
    padding: 10px 75px;
}

input.Submit:disabled {
box-sizing: border-box;
background-color: rgba(0, 0, 0, .5);
color: white;
cursor: not-allowed;
}

@media (max-width: 768px) {
    .Register {
        height: 100vh;
        width: 100%;
        background-color: rgba(31, 126, 174, 0.673);
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .Register .Container {
        background-color: #fff;
        height: auto;
        border-radius: 15px;   
        box-shadow: 0 0 2px black;        
    }

    div.Title {
        width: 90%;
        margin: 0 auto;
        padding-top: 25px;
        display: flex;
        justify-content: center;
    }

    .Form {
    margin: 0 auto;
    }

    .Submit {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .Submit div {
        width: 35%;
        margin-bottom: 25px;
    }


}
