.Register {
    height: auto;
}

.Title, .Register, .Submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    margin: 25px 0;
    height: auto;
    box-shadow: 0 0 5px 0 black;
    max-width: 560px;    
    min-width: 540px;
}

.Title {
    margin: 0 auto;
    padding: 15px 0;
}

.Container .Form {
    width: 90%;
    margin: 0 auto;

}

.Register div{
    width: 60%;    
}

form {
    width: 100%;
}

input.Submit {
    box-sizing: border-box;
    background-color: rgba(23, 103, 169, 0.831);
    color: white;
    padding: 10px 75px;
}

.Register .Submit {
    margin: 0 auto 10px auto;
}

input.Submit:disabled {
box-sizing: border-box;
background-color: rgba(0, 0, 0, .5);
color: white;
cursor: not-allowed;
}

@media (max-width: 768px) {
    .Register {
        height: auto;
        width: 100vw;
        background-color: rgba(31, 126, 174, 0.673);
        padding: 25px 0;  
    }

    .Register .Container {
        background-color: #fff;
        height: 90%;
        border-radius: 15px;   
        box-shadow: 0 0 2px black;        
    }

    .Container {
        min-width: 450px;
    }

    .Register div {
        width: 78%;
    }

    div.Title {
        width: 90%;
        margin: 0 auto;
        padding-top: 25px;
        display: flex;
        justify-content: center;
    }
    div.Title h1 {
        font-size: 30px;
    }

    .Form {
    margin: 0 auto;
    }

    .Submit {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .Submit div {
        width: 35%;
        margin-bottom: 15px;
    }

}
