.Login {
    width: 100vw;
    height: auto;
    margin-top: 25vh;
    /* background-color: rgba(31, 126, 174, 0.673); */
}

.Title {
    padding: 10px;
}

.Title > * {
    margin: 0;
}

.Container {
    background-color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 black;
    height: auto;
    width: 70%;
}

.Title, .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.Submit {
    margin: 0 auto;
    width: 33%;
    padding: 0 0 20px 0;
}

@media (max-width: 768px) {
    .Container {
        width: 80%;
        height: auto;
    }

    .Title {
        padding-top: 10px;
    }

    .Form {
        width: 85%;
        margin: 0 auto;
    }

    .Submit {
        padding: 0;
        padding-bottom: 15px;
    }

    .Submit input[type="submit"]:disabled {
        cursor: not-allowed;
    }
}