.Avatar {
    height: 200px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.Container {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
}
