.article-item-container {
    /* border: 1px solid black; */
    height: 8.6vw;
    /* padding-left: 1.5vw; */
    /* padding-top: 2vh; */
    border-bottom: 1px solid black;
    width: 22.9vw;
}

.article-item-container > * {
    /* border: 1px solid black; */
    /* border-bottom: 1px solid black; */
}

.article-item-img-container {
    /* margin-left: 1vw; */
}

.article-item-img-container {
    background-color: gray;
}

div.article-item-container.row {
    margin-left: 0;
    /* margin-right: 0; */
}

.article-item-img-container, .article-item-text-container {
    height: 100%;
}

.Article {
}

.Row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.Image, .Content {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.Content {

}






