.side-bar-container {
    /* border: 1px solid black; */
    /* padding-left: 2vw; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    height: 98vh;
    float: left;
}

.side-bar-log-reg {
    /* padding-right: 0; */
    /* margin-left: 2vw; */
}

.div.side-bar-container.col-3 {
    padding-right: 0;
}

.side-bar-log-reg button{
    height: 7vh;
    /* width: auto;; */
    font-size: 1.1vw;
    margin-top: 2.25vh;
    background-color: rgba(0, 160, 255, 0.8);
}

.side-bar-log-reg button:hover{
    background-color: rgba(3, 126, 199, 1);
    color: white;
}

.side-bar-log-reg button {
    margin-left: 0.4vw;
}

