.register-container {
    height: 100vh;
    width: 59.45vw;
    /* background-color: gray; */
    padding-top: 5%;
}

.register-inner-container {
    height: 94%;
    width: 70%;
    /* border: 1px solid black; */
    margin: 0 auto;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 8px black;
    
}

.register-inner-container div form div.row {
    margin: 0 0 0 0;
}

.register-container, 
.register-container > * {
    /* border: 1px solid black; */
}

.register-title {
    margin-bottom: 2vh;
    padding-top: 1vh;
    padding-bottom: .5vh;
    border-bottom: 1px solid black;
    text-align: center;
}

.component-input-form-container {
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    padding-bottom: 2vh; 
    height: 7.5vh;
}

.component-input-form-container div .col-2 {
    margin-bottom: 0;
}

.tos-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1vw;
}

.terms-checkbox {
    margin-right: 1vw;
    margin-top: .75vh;
    width: 2.5vh;
}

.tos-pp {
    color: rgba(244, 68, 54, 1);
}

.terms-checkbox,
.tos-pp:hover,
.component-submit {
    cursor: pointer;
}