.login-container {
    height: 100vh;
    width: 50vw;
    /* padding: 0 auto; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-inner-container {
    box-shadow: 1px 1px 8px black;
    padding-top: 2vh;
    padding-bottom: 10vh;
}

.login-inner-inner-container {
    box-shadow: 1px 1px 8px black;    
    margin: 0 6vw;
}

.login-form-container {
    padding-top: 4vh;

}

.login-form-container .container {
    padding-bottom: 2vh; 
}

.login-title {
    padding-top: 0;
    padding-bottom: 1.5vh;
    display: flex;
    justify-content: center;
}

