* {
    font-size: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div {
    /* border: 1px solid black; */
}

body{
    overflow: hidden;    
}

.app-container {
    height: auto;
    /* font-size: 50vw; */
    /* width: 100vw; */
}
.container-fluid, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .flex-column{
    padding: 0;
    /* margin-bottom: 1rem; */
}

/* .col-12 {
    margin-top: .5rem;
} */


.row {
    /* border: 1px solid black; */
}

.body-container, .nav-bar-component-container, .side-bar-container {
    height: 100vh;
}

.capstone-row {
    display: flex;
}