.carousel {
    margin-bottom: 6vh;
}

.carousel-indicators li {
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background-color: gray;
}

.carousel-inner {
    box-shadow: 1px 1px 5px 1px black;
    padding: 0 0 4vh 0;
} 

.carousel-item img {
    width: 55vw;
    height: auto;
    margin: 3vh auto 2vh auto;
    box-shadow: 1px 1px 5px 1px black;
    /* margin-bottom: 5vh; */
}