.ContentManager {
    background-color: white;
    /* border: none; */
    display: flex;
    justify-content: space-evenly;
}

.Button {
    margin-top: 5px;
    background-color: #ddd;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.Button:hover {
    background-color: rgba(88, 88, 88, 0.681); 
}